<section th:fragment="header" class="top-area">
    <div class="header-area">
        <!-- Start Navigation -->
        <nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"  data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

            <div class="container">

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">Freelancer<span>Seeker</span></a>

                </div><!--/.navbar-header-->
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse menu-ui-design" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="active"><a href="/">home</a></li>
                        <li class=""><a th:href="'/profile/'+ ${username} ">profile</a></li>
                        <li class=""><a href="/reviews">review</a></li>
                        <li class=""><a href="/about">About us</a></li>
                        <li th:if="!${username}" class="" ><a href="/login" >sign in</a></li>

                        <li>
                            <form th:if="${username}" th:action="'/perform_logout'">
                                <button style="margin-top:26px" class="btn btn-custom" type="submit"> Log out</button>
                            </form>
                        </li>
                    </ul><!--/.nav -->
                </div><!-- /.navbar-collapse -->
            </div><!--/.container-->
        </nav><!--/nav-->
        <!-- End Navigation -->
    </div><!--/.header-area-->
    <div class="clearfix"></div>

</section><!-- /.top-area-->