<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/chat.css">
    <title>Document</title>
</head>
<body>
<h1>All Messages</h1>
<ul>
    <li th:each="message : ${senderMsg}">
        <span th:text="${message.sender.username}"></span>: <span th:text="${message.content}"></span>
    </li>
</ul>
<h3 th:text="${receiver.username}"></h3>
<h3 th:text="${sender.username}"></h3>
<label for="message-input">Enter message to send</label>
<input type="text" id="message-input">

<button id="receiver_username" th:data-receiver="${receiver.username}"
        th:data-sender="${sender}" th:onclick="'sendMessage('+${sender.id} +','+${receiver.id}+')'">send
</button>

<ul id="message-list"></ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.js"
        integrity="sha512-lyIq9fRcCeSCXhp41XC/250UBmypAHV8KW+AhLcSEIksWHBfhzub6XXwDe67wTpOG8zrO2NAU/TYmEaCW+aQSg=="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"
        integrity="sha512-iKDtgDyTHjAitUDdLljGhenhPwrbBfqTKWO1mkhSFH3A7blITC9MhYon6SjnMhp4o0rADGw9yAC6EW4t5a4K3g=="
        crossorigin="anonymous"></script>
<script>// Try to set up WebSocket connection with the handshake at "http://localhost:8080/stomp"
let sock = new SockJS("http://localhost:8080/stomp");

// Create a new StompClient object with the WebSocket endpoint
let client = Stomp.over(sock);
let username = "shanab"
// Start the STOMP communications, provide a callback for when the CONNECT frame arrives.
client.connect({}, frame => {
    // Subscribe to "/topic/messages". Whenever a message arrives add the text in a list-item element in the unordered list.

    client.subscribe("/topic/messages/" + username, payload => {

        let message_list = document.getElementById('message-list');
        let message = document.createElement('li');
         const data = JSON.parse(payload.body);
    const senderUsername = data.sender.username;
    const messageContent = data.content;


    const messageText = `${senderUsername}: ${messageContent}`;


    message.appendChild(document.createTextNode(messageText));


    message_list.appendChild(message);

<!--        message.appendChild(document.createTextNode(JSON.parse(payload.body).content));-->
<!--        message_list.appendChild(message);-->

    });

});

// Take the value in the ‘message-input’ text field and send it to the server with empty headers.
function sendMessage(send,rec){

    let input = document.getElementById("message-input");
    let message = input.value;
    let msgJson = {
    senderId : send,
    receiverId : rec,
    message : message,
    }
    client.send('/app/chat/' + username, {}, JSON.stringify(msgJson));

}



</script>
</body>
</html>